<style>
    form {
        width: 450px;
        margin-left: 0;
    }

    .contenedor {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 25px;
        justify-content: start;
    }

    .campo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

        .campo label {
            width: 50px;
            text-align: center;
            font-size: 14px;
        }

        .campo input {
            width: 100px;
            height: 30px;
            border: 1px solid #666;
            padding: 0 6px;
            box-sizing: border-box;
            line-height: normal;
            padding-top: 2px;
            padding-bottom: 8px;
        }

        label[for="num2"]{
            color: blue;
        }
    
    #num1 {
        background-color: #5aa40b;
        color: white;
    }

    #num2 {
        color: gray;
        padding-left: 20px;
    }

    #num3 {
        color: red;
    }

    #num4 {
        background-color: #ffff99;
        padding-left: 20px;
    }

    #prom {
        color: black;
    }

    .acciones {
        margin-top: 0px;
        display: flex;
        justify-content: flex-start;
        gap: 52px;
        margin-left: 0;
    }

    .btn {
        width: 130px;
        height: 45px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        border-radius: 12px;
        border: 1px solid #0b5aa7;
        background: linear-gradient(#0f8bff, #0a6fd6);
        cursor: pointer;
    }

    .promedio {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

        .promedio input {
            width: 150px;
            height: 30px;
            padding: 0 6px;
            box-sizing: border-box;
            line-height: normal;
            padding-top: 2px;
            padding-bottom: 8px;
            background: #eee;
            border: 1px solid #999;
        }

</style>


<form asp-controller="GabrielPromedio" asp-action="Index" method="POST">


    <div class="contenedor">
        <div class="campo">
            <label for="num1">Nota 1</label>
            <input type="text" name="num1" id="num1" value="@(ViewBag.Num1 ?? "")" required>
        </div>

        <div class="campo">
            <label for="num2">Nota 2</label>
            <input type="text" name="num2" id="num2" value="@(ViewBag.Num2 ?? "")" required>
        </div>

        <div class="campo">
            <label for="num3">Nota 3</label>
            <input type="text" name="num3" id="num3" value="@(ViewBag.Num3 ?? "")" required>
        </div>

        <div class="campo">
            <label for="num4">Nota 4</label>
            <input type="text" name="num4" id="num4" value="@(ViewBag.Num4 ?? "")" required>
        </div>
    </div>

    <br>

    <div class="acciones">
        <button class="btn" type="submit">Calcular</button>
        <button class="btn" type="button" id="btnLimpiar">Limpiar</button>
    </div>

    <div class="promedio">
        <label for="prom">Promedio</label>
        <input id="prom" type="text" disabled readonly value="@(ViewBag.Promedio ?? "")" />
    </div>

</form>